<html>

<head>
  <title>CO-RAD</title>

  <link rel="shortcut icon" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/static/css/fontsize.css">
  <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/static/css/index.css">


</head>

<body>
  {% if user.is_authenticated %}
  <div class="ui large top menu">
    <a class="item" href="/">
      <img class="logo" src="/static/img/logo.png">
    </a>
    <div class="right item">
      <h5>Welcome, <a href="/account"><span class="username">{{ user.username }}</span></a> !</h5>
      <a id="logout" class="ui button">Log Out</a>
    </div>
  </div>

  <div class="page-two">
    <div class="container">
      <div class="button-container">
        <div id="index-button" class="ui button">
          <img src="static/img/index/index_page.png">
          <p>Index Page</p>
        </div>
        <div id="design-button" class="ui button">
          <img src="static/img/index/new_design.png">
          <p>New Design</p>
        </div>
        <div id="search-button" class="ui button">
          <img src="static/img/index/search.png">
          <p>Search</p>
        </div>
      </div>
      <div class="right-blank"></div>
    </div>
  </div>
  {% else %}
  <div class="ui large top fixed menu">
    <a class="item" href="/">
      <img class="logo" src="/static/img/logo.png">
    </a>
    <div class="right item">
      <a id="signin" class="ui button">Sign In</a>
      <a id="signup" class="ui button">Sign Up</a>
    </div>
  </div>

  <div class="page"></div>
  {% endif %}
</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/semantic/dist/semantic.js"></script>
<script src="/static/semantic/dist/components/popup.min.js"></script>
<script src="/static/semantic/dist/components/tab.min.js"></script>
<script>
  $('#signup').on('click', function () {
    window.location.href = '/signup';
  });
  $('#signin').on('click', function () {
    window.location.href = '/signin';
  });
  $('#logout').on('click', function () {
    window.location.href = '/logout';
  });
  $('#index-button').on('click', function () {
    window.location.href = '/index';
  });
  $('#design-button').on('click', function () {
    window.location.href = '/design';
  });
  $('#search-button').on('click', function () {
    window.location.href = '/search';
  });
  $('.ui.sticky')
    .sticky({
      context: '#example1'
    });
</script>


</html>