.SDinDesign-device {
  position: absolute;
  transition: box-shadow 0.2s ease;
  background-color: white;
  cursor: pointer;
}
.SDinDesign-device>.bone {
  position: absolute;
  height: 3px;
  background-color: rgb(171, 163, 163);
  bottom: 1em;
}
.SDinDesign-part {
  position: absolute;
  transition: box-shadow 0.2s ease;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.SDinDesign-subpartDropper {
  position: absolute;
}

/* SVG Path Stroke */
.promotion-connection>path {
  stroke: blue;
  fill: blue;
}
.stimulation-connection>path {
  stroke: blue;
  fill: blue;
}
.inhibition-connection>path {
  stroke: red;
  fill: red;
}
.combine-connection>path {
  stroke: green;
  fill: green;
}
.preview-connection>path {
  stroke-dasharray: 5, 5;
}
