@font-face{
  font-family: 'Avenir';
  src : url('https://fonts.google.com/?query=Avenir');
}

.body {
  size: 100%;
}

.logo {
  height: 150px;
  width: 300px !important;
  margin-top: 10px;
  margin-left: 100px;
}

#signin {
  background: white;
  color: #a83140;
  border: 4px solid #a83140;
  border-radius: 0%;
  margin-right: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
}

.right.item>h5 {
  display: inline;
  margin-right: 50px;
  padding-top: 15px;
  font-family: Avenir;
  font-size: 25px;
}

.username {
  color: #a83140;
  text-decoration: underline;
}

#signup {
  background: white;
  color: #3050a8;
  border: 4px solid #3050a8;
  border-radius: 0%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
}

#signup:hover,
#signin:hover {
  background: grey;
}

#logout {
  background: #ffffff;
}

#logout>img {
  height: 50px;
}

#logout>img:hover {
  box-shadow: 2px 2px 2px #000000;
}

.page,
.page-two {
  height: 100%;
  background-image: url(../img/index/background_not_center.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page>.app-name {
  color: #ffffff;
  text-align: center;
  padding-top: 240px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
}

.page-two {
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.top-blank {
  width: 100%;
  height: 170px;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.button-container {
  margin-top: 11rem;
  height: 50rem;
  width: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#design-button,
#search-button,
#index-button {
  height: 35%;
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-top: 4rem;
  margin-top: 0;
  background: transparent;
  color: #000000;
  border: 3px solid #000000;
}

#design-button>img,
#search-button>img,
#index-button>img {
  height: 120px;
  width: 100px;
}

#design-button>p,
#search-button>p,
#index-button>p {
  margin-top: 45px;
  margin-left: 15px;
  font-family: Avenir;
  font-size: 30px;
}

#design-button:hover,
#search-button:hover,
#index-button:hover {
  box-shadow: 2px 2px 2px #000000;
  background-color: #A7DABC;
}

/* hide scroller bar */
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  /* background: transparent;  optional: just make scrollbar invisible */
}