body {
  background-image: url('/static/img/search/background_blue.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6{
  color: white;
}
/* Top Bar */
#top-bar {  
  background: rgba(0, 0, 0, 0.4);
}

#top-bar {
  color: white;
  font-size: 32px;
}

.top-bar-item {
  margin-left: 20px;
  margin-right: 20px;
}

.top-bar-item a:hover {
  text-decoration: underline;
}

#top-bar-logo {
  height: 75px;
}

#center-wrapper {
  height: 75px;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

#search-title-1 {
  font-size:80px;
  color:white;
  padding: 30px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#search-title-2 {
  font-size:50px;
  color:white;
  padding: 30px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#my-input-box {
  width: 50%;
  height: 50px;
  padding: 4px;
  border: solid 1px #E5E5E5;
  outline: 0;
  background:rgba(255,255,255,0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;    
}


.ui .breadcrumb a span {
  color: white;
  font-size: 28px;  
}


/* search page */

button.invert {
  color: #FFF !important;
  background-color: #000 !important;
}

button.invert>i {
  opacity: 1 !important;
}

.search-bar {
  box-shadow: 2px 2px 6px 0px;
}



#index-search-bar {
  box-shadow: 2px 2px 6px 0px;
  margin: 2%;
}

.font-constantia {
  font-family: Consolos !important;
}

.selected {
  text-decoration: underline;
  color: #FFF !important;
}

.section:hover {
  text-decoration: underline;
  color: #FFF !important;
}

.username {
  text-decoration: underline;
}

.username:hover {
  cursor: pointer;
  color: #7fa7d3;
}

.shadow-font {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px 0px;  
}

#search-container {
  margin-top: 8rem;
  width: 50rem;
  position: relative;
}

.content {
  margin-left: 10.5rem;
  display: flex;
  flex-direction: row;
}

/* hide scroller bar */
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}