body {
  background-color: #C7C5C6;
}

/* Top Bar */
.top-bar img {
  height: 100px;
  width: 100px;
  margin-bottom: -40px;
}

.top-bar input {
  height: 60px;
  width: 500px;
  margin-left: 2rem !important;
  border: 2px solid white !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}

.top-bar input::-webkit-input-placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  color: rgb(109, 109, 109) !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}

.top-bar label {
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  color: rgb(141, 51, 51);
}

#design,
#account {
  margin-left: 1rem;
}

.button:hover {
  cursor: pointer;
}

/* Guide */
.breadcrumb {
  text-align: center;
  display: block !important;
  margin: 1rem 1rem !important;
}

.breadcrumb a {
  color: white !important;
}

/* Result Segment */
.segment>.container {
  background-color: #DAD8DB;
  border: 2px solid white;
  border-radius: 1%;
  margin-bottom: 1rem;
}

.row {
  margin-left: 1rem;
}

.head label {
  text-decoration: underline;
  line-height: 5rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: rgb(39, 34, 143);
}

.head label:hover {
  cursor: pointer;
}

.description,
.year,
.text.container img {
  margin-left: 1rem;
}

.team,
.year,
.description p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 38px;
  color: white;
  text-shadow: 3px 3px 3px gray;
}

.text.container img {
  display: inline;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

/* Item Detail Segment */
#item-segment>div>div {
  padding: 0 1rem 0 1rem !important;
}

.head i {
  color: rgb(39, 34, 143);
  padding: 0 0 2rem 2rem;
}

.head i:hover {
  cursor: pointer;
}

.ui.container {
  width: 1200px !important;
  min-width: 1200px !important;
}

.text.container label,
.text.container p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 38px;
  color: rgb(96, 96, 96);
}

.text.container img {
  width: 25;
  height: 25;
}

.second {
  height: 450;
}

.two.wide.column {
  float: left !important;
}

.two.wide.column>img {
  width: 350;
  height: 200;
  margin-top: 1rem;
}

.ui.celled.table {
  width: 500;
  max-width: 500;
  height: 450;
  max-height: 450;
  margin-left: 10rem;
  background-color: #DAD8DB;
}

.ui.table thead th {
  background-color: #DAD8DB !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  color: rgb(96, 96, 96);
}

.third {
  width: 100%;
}

.third>p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 38px;
  color: rgb(96, 96, 96);
}

.third>img {
  float: right;
  width: 500;
  max-width: 500;
  height: 230;
  max-height: 230;
  margin-right: 5rem;
}