body {
  background-image: url('/static/img/search/background_blue.jpg');
  background-attachment: fixed;
  background-size:100% 100%;
  background-repeat: no-repeat;
}

/* Top Bar */
#top-bar {  
  background: rgba(0, 0, 0, 0.4);
}

#top-bar h3 {
  color: white;
  font-size: 32px;
}

.top-bar-item {
  margin-left: 20px;
  margin-right: 20px;
}

.top-bar-item a:hover {
  text-decoration: underline;
}

#logo {
  height: 75px;
  width: 150px;
}

#center-wrapper {
  height: 75px;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

#search-title {
  font-size:80px;
  color:white;
  padding: 30px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#my-input-box {
  width: 50%;
  height: 50px;
  padding: 4px;
  border: solid 1px #E5E5E5;
  outline: 0;
  background:rgba(255,255,255,0.8);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;    
}

.ui .breadcrumb a span {
  color: white;
  font-size: 28px;
  
}