@font-face {
  /* font-properties */
  font-family: OCRAStd;
  src: url('../font/OCRAStd.otf');
}

body {
  size: 100%;
  background: url('../img/sign/background.jpg');
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border-div {
  width: 600px;
  height: 300px;
  border: 3px solid;
  margin: -20 0 0 20;
}

.signin {
  width: 600px;
  height: 300px;
  border-radius: 0%;
  border: 3px solid rgb(60, 57, 52);
  background-color: transparent;
  margin: auto;
}

.content {
  margin-top: -270px;
  margin-left: 20px;
  background-color: transparent !important;
}

.content label {
  font-family: OCRAStd;
  font-size: 50px;
  font-weight: bold;
  color: rgb(60, 57, 52);
}

.logo {
  height: 6rem;
  width: 11rem;
  margin-left: -2rem;
  margin-bottom: -2rem;
}

.content .ui.form {
  margin: 25 0 1rem !important;
}

form input,
#username,
#password {
  /* font-family: OCRAStd; */
  width: 400px !important;
  border: 2px solid rgb(60, 57, 52) !important;
}

#username:-webkit-autofill,
#password:-webkit-autofill {
  /* font-family: OCRAStd; */
  box-shadow: 0 0 0px 1000px white inset !important;
}

input::-webkit-input-placeholder {
  /* font-family: OCRAStd; */
  color: rgb(48, 80, 168) !important;
}

.ui.main.container {
  margin-top: 6rem;
}

.back {
  margin-right: 200px;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  color: rgb(168, 49, 64);
}

.next {
  display: inline;
  font-family: OCRAStd;
  font-size: 30px;
  font-weight: bold;
  color: rgb(60, 57, 52);
}

.next:hover {
  cursor: pointer;
}