.signup {
  width: 600px;
  height: 600px;
  border-radius: 0%;
  border: 3px solid rgb(60, 57, 52);
  background-color: transparent;
  margin: auto;
}

.border-div {
  height: 600px;
}

.content {
  margin-top: -530px;
}

.back {
  margin-right: 70px;
  font-family: 'Times New Roman', Times, serif;
}