<html>

<head>
  <title>CO-RAD</title>
  <link rel="stylesheet" href="/static/css/fontsize.css">
  <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
</head>

<body>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item" href="/">
          <img id="logo" src="/static/img/logo.png">
        </a>
        {% if user.is_authenticated %}
        <div class="right item">
          <h5>Welcome, {{ user.username }}!</h5>
        </div>
        <div class="item">
          <a id="logout" class="ui inverted button">Log Out</a>
        </div>
        {% else %}
        <div class="right item">
          <a id="signin" class="ui inverted button">Sign In</a>
        </div>
        <div class="item">
          <a id="signup" class="ui inverted button">Sign Up</a>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        CO-RAD
      </h1>
      <h3>Design and Collaborate, Analysis and Optimize.</h3>
      {% if user.is_authenticated %}
      <div id="index-button" class="ui primary button">Index Page</div>
      <div id="design-button" class="ui primary button">New Design</div>
      <div id="search-button" class="ui primary button">Search</div>
      {% endif %}
    </div>
  </div>
</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/semantic/dist/semantic.js"></script>
<script src="/static/semantic/dist/components/popup.min.js"></script>
<script src="/static/semantic/dist/components/tab.min.js"></script>
<script>
  $('#signup').on('click', function () {
    window.location.href = '/signup';
  });
  $('#signin').on('click', function () {
    window.location.href = '/signin';
  });
  $('#logout').on('click', function () {
    window.location.href = '/logout';
  });
  $('#index-button').on('click', function () {
    window.location.href = '/index';
  });
  $('#design-button').on('click', function () {
    window.location.href = '/design';
  });
  $('#search-button').on('click', function() {
    window.location.href = '/search';
  })
</script>

</html>