<html>

<head>
  <title>Index Page</title>

  <link rel="shortcut icon" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/static/css/fontsize.css">
  <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/static/css/personal_index.css">
</head>

<body>
  {% if user.is_authenticated %}
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted menu">
        <a class="item" href="/">
          <img class="logo" src="/static/img/logo.png">
        </a>
        <div class="right item">
          <h5>Welcome, <a href="/account"><span> {{ user.username }} </span></a>!</h5>
        </div>
        <div class="item">
          <a id="logout" class="ui inverted button">Log Out</a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        <a href="/" style="color:white">CO-RAD</a>
      </h1>
      <h3>Design and Collaborate, Analysis and Optimize.</h3>
    </div><br>

    <div class="ui container">
      <div class="ui fluid five item inverted pointing tabular menu">
        <a class="center active item" data-tab="Parts">My Parts</a>
        <a class="item" data-tab="Circuits">My Circuits</a>
        <a class="item" data-tab="Shares">Shared Circuits</a>
        <a class="item" data-tab="Authority">Authority Manage</a>
        <a class="item" href="/design">New Design</a>
      </div>
    </div>
  </div>

  <div class="ui bottom attached tab segment active" data-tab="Parts">
    <div class="ui content">
      <h5>My Parts</h5>
      {% if parts %}
      <table class="ui sortable striped padded table" id="part-table">
        <thead>
          <tr>
            <th class="sorted descending">ID</th>
            <th class="sorted descending">Name</th>
            <th class="sorted descending">Type</th>
            <th class="sorted descending">Description</th>
          </tr>
        </thead>
        <tbody>
          {% for part in parts %}
          <tr data-id="{{ part.ID }}">
            <td>{{ part.ID }}</td>
            <td>{{ part.Name }}</td>
            <td>{{ part.Role }}</td>
            <td>{{ part.Description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="ui divider"></div>
      <h5> You have no part added. </p>
        {% endif %}
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="Circuits">
    <div class="ui content">
      <h5>My Circuits</h5>
      {% if circuits %}
      <table class="ui sortable selectable striped padded table" id="master-table">
        <thead>
          <tr>
            <th class="sorted descending">ID</th>
            <th class="sorted descending">Name</th>
            <th class="sorted descending">Author</th>
            <th class="sorted descending">Description</th>
            <th class="sorted descending">Last Editor</th>
            <th class="sorted descending">Last Update Time</th>
          </tr>
        </thead>
        <tbody>
          {% for circuit in circuits %}
          <tr data-name="{{ circuit.Name }}">
            <td>{{ circuit.ID }}</td>
            <td>{{ circuit.Name }}</td>
            <td>{{ circuit.Author }}</td>
            <td>{{ circuit.Description }}</td>
            <td>{{ circuit.LastEditor }}</td>
            <td>{{ circuit.LastUpdateTime }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="ui divider"></div>
      <h5> You have no circuit added.</h5>
      {% endif %}
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="Shares">
    <div class="ui content" id="share-card">
      <h5>Shared Circuits</h5>
      {% if share %}
      <table class="ui sortable selectable striped padded table" id="share-table">
        <thead>
          <tr>
            <th class="sorted descending">ID</th>
            <th class="sorted descending">Name</th>
            <th class="sorted descending">Author</th>
            <th class="sorted descending">Description</th>
            <th class="sorted descending">Authority</th>
            <th class="sorted descending">Last Editor</th>
            <th class="sorted descending">Last Update Time</th>
          </tr>
        </thead>
        <tbody>
          {% for circuit in share %}
          <tr data-name="{{ circuit.Name }}">
            <td>{{ circuit.ID }}</td>
            <td>{{ circuit.Name }}</td>
            <td>{{ circuit.Author }}</td>
            <td>{{ circuit.Description }}</td>
            <td>{{ circuit.Authority }}</td>
            <td>{{ circuit.LastEditor }}</td>
            <td>{{ circuit.LastUpdateTime }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="ui divider"></div>
      <h5> You have no shared circuit.</h5>
      {% endif %}
    </div>
  </div>

  <div class="ui bottom attached tab segment" data-tab="Authority">
    <div class="ui content">
      <h5>Authority Manage</h5>
      {% if authority %}
      <table class="ui sortable selectable striped padded table" id="authority-table">
        <thead>
          <tr>
            <th class="sorted descending">ID</th>
            <th class="sorted descending">Name</th>
            <th class="sorted descending">Author</th>
            <th class="sorted descending">Description</th>
            <th class="sorted descending">Last Editor</th>
            <th class="sorted descending">Last Update Time</th>
          </tr>
        </thead>
        <tbody>
          {% for circuit in authority %}
          <tr data-id="{{ circuit.ID }}">
            <td>{{ circuit.ID }}</td>
            <td>{{ circuit.Name }}</td>
            <td>{{ circuit.Author }}</td>
            <td>{{ circuit.Description }}</td>
            <td>{{ circuit.LastEditor }}</td>
            <td>{{ circuit.LastUpdateTime }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="ui divider"></div>
      <h5> You have no circuit added.</h5>
      {% endif %}
    </div>
  </div>
  <!-- message modal -->
  <div id="msg-modal" class="ui basic modal">
      <div class="ui icon message">
          <i class="notched circle loading icon"></i>
          <div class="content">
            <div class="header" id="msg-header">
              Just one second
            </div>
            <p id="msg-body">Your alterations are sending to the server.</p>
          </div>
        </div>
  </div>
  <!-- Circuits modal -->
  <div id="circuits-modal" class="ui modal">
    <div class="ui content">
      <h5></h5>
      <table class="ui sortable selectable striped padded table" id="circuits-table">
      </table>
    </div>
  </div>

  <!-- Share modal -->
  <div id="share-modal" class="ui tiny modal">
    <div class="content">
      <div class="ui vertical masthead center aligned segment">
        <div class="ui container">
          <div class="ui tabular menu" id="share-tab">
            <a class="active item" data-tab="View">View</a>
            <a class="item" data-tab="Edit">Edit</a>
          </div>
        </div><br>

        <select id="search-users-dropdown" class="ui fluid search dropdown" multiple="">
          <i class="dropdown icon"></i>
          <div class="default text">Search User...</div>
        </select>{% csrf_token %}

        <div class="ui divider"></div>

        <div class="ui bottom attached tab segment active" data-tab="View">
          <div class="ui content">
            <h5 class="ui center aligned">Viewers</h5>
            <div class="ui divider"></div>
            <div id="view-users"></div><br>
            <div class="ui primary button" id="share-view-button">Share view</div>
          </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="Edit">
          <div class="ui content">
            <h5 class="ui center aligned">Editors</h5>
            <div class="ui divider"></div>
            <div id="edit-users"></div><br>
            <div class="ui primary button" id="share-edit-button">Share edit</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- click and get part's detail modal -->
  <div id="inspect-item-modal" class="ui tiny modal">
    <div class="content">
      <form id="inspect-item-form" class="ui form">
        <div class="field">
          <label>Part role</label>
          <input type="text" readonly="readonly" name="component-role" placeholder="part role">
        </div>
        <div class="field">
          <label>Display ID</label>
          <input type="text" readonly="readonly" name="component-id" placeholder="display id">
        </div>
        <div class="field">
          <label>Name</label>
          <input type="text" readonly="readonly" name="component-name">
        </div>
        <div class="field">
          <label>Version</label>
          <input type="text" readonly="readonly" name="component-version" placeholder="1">
        </div>
        <div class="field">
          <label>Description</label>
          <textarea rows="6" name="component-description" readonly="readonly"></textarea>
        </div>
        <div class="field">
          <label>DNA Sequence</label>
          <textarea name="component-sequence" readonly="readonly"></textarea>
        </div>
      </form>
    </div>
  </div>

  {% else %}
  <h5 class="ui error">You should log in first.</h5>
  {% endif %}
</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/semantic/dist/semantic.js"></script>
<script src="/static/semantic/dist/components/popup.min.js"></script>
<script src="/static/semantic/dist/components/tab.min.js"></script>
<script src="/static/js/tableSort.js"></script>
<script src="/static/js/personal_index.js"></script>

</html>