<html>

<head>
  <title>Index Page</title>

  <link rel="shortcut icon" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/static/css/fontsize.css">
  <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/static/css/personal_index.css">
</head>

<body>
  {% if user.is_authenticated %}
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted menu">
        <a class="item">
          <img class="logo" src="/static/img/logo.png">
        </a>
        <div class="right item">
          <h5>Welcome, {{ user.username }}!</h5>
        </div>
        <div class="item">
          <a id="logout" class="ui inverted button">Log Out</a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        <a href="/" style="color:white">CO-RAD</a>
      </h1>
      <h3>Design and Collaborate, Analysis and Optimize.</h3>
      <!-- <div id="design-button" class="ui huge primary button">
        Make new Design
        <i class="right arrow icon"></i>
      </div> -->
    </div><br>

    <div class="ui container">
      <div class="ui fluid three item inverted pointing tabular menu">
        <a class="center active item" data-tab="Parts">My Parts</a>
        <a class="item" data-tab="Circuits">My Circuits</a>
        <a class="item" data-tab="Shares">Shared Circuits</a>
        <a class="item" href="/design">New Design</a>
      </div>
    </div>
  </div>

  <div class="ui bottom attached tab segment active" data-tab="Parts">
    <div class="ui content">
      <h5>My Parts</h5>
      {% if parts %}
      <table class="ui sortable striped padded table" id="part-table">
        <thead>
          <tr>
            <th class="sorted descending">ID</th>
            <th class="sorted descending">Name</th>
            <th class="sorted descending">Role</th>
            <th class="sorted descending">Description</th>
          </tr>
        </thead>
        {% for part in parts %}
        <tbody data-id="{{ part.ID }}">
          <td>{{ part.ID }}</td>
          <td>{{ part.Name }}</td>
          <td>{{ part.Role }}</td>
          <td>{{ part.Description }}</td>
        </tbody>
        {% endfor %}
      </table>
      {% else %}
      <div class="ui divider"></div>
      <h5> You have no part added. </p>
        {% endif %}
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="Circuits">
    <div class="ui content">
      <h5>My Circuits</h5>
      {% if circuits %}
      <table class="ui sortable selectable striped padded table" id="master-table">
        <thead>
          <tr>
            <th class="sorted descending">ID</th>
            <th class="sorted descending">Name</th>
            <th class="sorted descending">Author</th>
            <th class="sorted descending">Description</th>
            <th class="sorted descending">Last Editor</th>
            <th class="sorted descending">Last Update Time</th>
          </tr>
        </thead>
        {% for circuit in circuits %}
        <tbody data-name="{{ circuit.Name }}">
          <td>{{ circuit.ID }}</td>
          <td>{{ circuit.Name }}</td>
          <td>{{ circuit.Author }}</td>
          <td>{{ circuit.Description }}</td>
          <td>{{ circuit.LastEditor }}</td>
          <td>{{ circuit.LastUpdateTime }}</td>
        </tbody>
        {% endfor %}
      </table>
      {% else %}
      <div class="ui divider"></div>
      <h5> You have no circuit added.</h5>
      {% endif %}
    </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="Shares">
    <div class="ui content" id="share-card">
      <h5>Shared Circuits</h5>
      {% if share %}
      <table class="ui sortable selectable striped padded table" id="share-table">
        <thead>
          <tr>
            <th class="sorted descending">ID</th>
            <th class="sorted descending">Name</th>
            <th class="sorted descending">Author</th>
            <th class="sorted descending">Description</th>
            <th class="sorted descending">Authority</th>
            <th class="sorted descending">Last Editor</th>
            <th class="sorted descending">Last Update Time</th>
          </tr>
        </thead>
        {% for circuit in share %}
        <tbody data-name="{{ circuit.Name }}">
          <td>{{ circuit.ID }}</td>
          <td>{{ circuit.Name }}</td>
          <td>{{ circuit.Author }}</td>
          <td>{{ circuit.Description }}</td>
          <td>{{ circuit.Authority }}</td>
          <td>{{ circuit.LastEditor }}</td>
          <td>{{ circuit.LastUpdateTime }}</td>
        </tbody>
        {% endfor %}
      </table>
      {% else %}
      <div class="ui divider"></div>
      <h5> You have no shared circuit.</h5>
      {% endif %}
    </div>
  </div>

  <div id="circuits-modal" class="ui modal">
    <div class="ui content">
      <h5></h5>
      <table class="ui sortable selectable striped padded table" id="circuits-table">
      </table>
    </div>
  </div>

  {% else %}
  <h5 class="ui error">You should log in first.</h5>
  {% endif %}
</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/semantic/dist/semantic.js"></script>
<script src="/static/semantic/dist/components/popup.min.js"></script>
<script src="/static/semantic/dist/components/tab.min.js"></script>
<script src="/static/js/personal_index.js"></script>

</html>