<!-- Login Modal -->



<div class="ui tiny modal" id="signin-modal">
  {% if user.is_authenticated %}
  <div class="content">
    <div class="ui center aligned container">
      <p>You've login</p>
    </div>
  </div>
  {% else %}
  <div class="content">
    <div class="ui center aligned container">
      <div class="ui center aligned">
        <a href="/"><img src="/static/img/logo.png"></a>
        <label class="ui center aligned">Sign in</label>
      </div>

      <form class="ui form" id="login-form" method="POST" action="/signin/">
        {% if request.GET.next %}
        <input type="text" name="next" value="{{ request.GET.next }}" hidden> {% endif %} {% csrf_token %}
        <div class="field">
          <input type="text" id="username" name="username" placeholder="Username">
        </div>
        <div class="field">
          <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="ui {% if messages %}visible {% endif %}error message">
          {% if messages %}
          <ul class="list">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </form>

      <!-- Button panel -->
      <div id="action-panel">
        <a class="back" href="/signup">No Account?</a>
        <a id="signin-button" class="next">Next</a>
      </div>
      
    </div>
  </div>
</div>
{% endif %}
<link rel="stylesheet" href="/static/css/login.css">