<html>

<head>
  <title>Search</title>
  <link rel="stylesheet" href="/static/css/fontsize.css">
  <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/static/css/search.css">
</head>

<body>
  <!-- Search top bar -->
  <div class="ui center aligned container top-bar">
    <img id="logo" class="button" src="/static/img/logo.png">
    <div class="ui icon input">
      <input name="keyword" placeholder="Search..." type="text">
      <i class="search icon" id="search"></i>
    </div>
    <label id="design" class="button">DESIGN</label>
    <label id="account" class="button">ACCOUNT</label>
  </div>

  <!-- Guide bar -->
  <div class="ui breadcrumb">
    <a class="active section">Paper</a>
    <div class="divider"> | </div>
    <a class="section">Project</a>
    <div class="divider"> | </div>
    <a class="section">Upload</a>
  </div>

  <!-- Search Content segment -->
  <div id="content-segment" class="ui vertical stripe segment visible"></div>

  <!-- Item Detail segment -->
  <div id="item-segment" class="ui vertical stripe segment invisible">
    <div class="ui container"></div>
  </div>
</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/semantic/dist/semantic.js"></script>
<script src="/static/semantic/dist/components/popup.min.js"></script>
<script src="/static/semantic/dist/components/tab.min.js"></script>
<script src="/static/js/search.js"></script>

</html>