<html>

<head>
  <title>Search</title>
  <link rel="stylesheet" href="/static/css/fontsize.css">
  <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/static/css/search.css">
</head>

<body>
  <div class="ui center aligned container top-bar">
    <img id="logo" class="button" src="/static/img/logo.png">
    <div class="ui icon input">
      <input name="keyword" placeholder="Search..." type="text">
      <i class="search icon"></i>
    </div>
    <label id="design" class="button">DESIGN</label>
    <label id="account" class="button">ACCOUNT</label>
  </div>

  <div class="ui breadcrumb">
    <a class="active section">Paper</a>
    <div class="divider"> | </div>
    <a class="section">Project</a>
    <div class="divider"> | </div>
    <a class="section">Upload</a>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row head">
        <label>E.colipse-Who's your pABA:intelligent sun protection</label>
      </div>
      <div class="row">
        <div class="three wide column">
          <img src="/static/img/design/unknown.png" class="ui small bordered rounded image">
        </div>
        <div class="eight wide column description">
          <div class="ui text container">
            <label class="team">Team: ETH_Zurich</label>
            <label class="year">Year: 2017</label>
            <img src="/static/img/design/unknown.png" class="ui tiny bordered rounded image">
          </div>
          <p>to detect hazardous levels of sun radiation ...</p>
        </div>
      </div>
    </div>

    <div class="ui middle aligned stackable grid container">
      <div class="row head">
        <label>E.colipse-Who's your pABA:intelligent sun protection</label>
      </div>
      <div class="row">
        <div class="three wide column">
          <img src="/static/img/design/unknown.png" class="ui small bordered rounded image">
        </div>
        <div class="eight wide column description">
          <div class="ui text container">
            <label class="team">Team: ETH_Zurich</label>
            <label class="year">Year: 2017</label>
            <img src="/static/img/design/unknown.png" class="ui tiny bordered rounded image">
          </div>
          <p>to detect hazardous levels of sun radiation ...</p>
        </div>
      </div>
    </div>

    <div class="ui middle aligned stackable grid container">
      <div class="row head">
        <label>E.colipse-Who's your pABA:intelligent sun protection</label>
      </div>
      <div class="row">
        <div class="three wide column">
          <img src="/static/img/design/unknown.png" class="ui small bordered rounded image">
        </div>
        <div class="eight wide column description">
          <div class="ui text container">
            <label class="team">Team: ETH_Zurich</label>
            <label class="year">Year: 2017</label>
            <img src="/static/img/design/unknown.png" class="ui tiny bordered rounded image">
          </div>
          <p>to detect hazardous levels of sun radiation ...</p>
        </div>
      </div>
    </div>

  </div>
</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/semantic/dist/semantic.js"></script>
<script src="/static/semantic/dist/components/popup.min.js"></script>
<script src="/static/semantic/dist/components/tab.min.js"></script>
<script src="/static/js/search.js"></script>
<script>
  $('.modal')
    .addClass('active');
</script>

</html>