<html>

<head>
  <title>Search</title>

  <link rel="shortcut icon" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/static/css/fontsize.css">
  <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/static/css/search.css">
</head>

<body class="font-constantia">
  <!-- top bar -->
  <div class="ui large top fixed menu" id="top-bar">
      <div class="item left">
        <div class="top-bar-item">
          <a href="/">
            <img id="top-bar-logo" src="/static/img/logo_gray.png">
          </a>
        </div>
      </div>
      <div class="item right">
          <!-- <label id="design" class="button">DESIGN</label>
          <label id="account" class="button">ACCOUNT</label> -->
          <div class="top-bar-item">
            <a href="/design">
              <h3>Design</h3>
            </a>
          </div>
          <div class="top-bar-item">
            <a href="/account">
              <h3>Welcome, <span class="username">{{ user.username }}</span> !</h3>
            </a>
          </div>
      </div>
  </div>

  <div class="ui middle aligned grid" id="center-wrapper">
      <div class="column">
          <div class="ui center aligned page grid">
            <div id="search-title-1">
              CO-RAD Search
            </div>
            <div class="twelve wide column">
              <div class="ui fluid action input" id="index-search-bar">
                <input style="border-radius: 0px !important;" type="text" id="search-content" placeholder="Search...">
                <button style="border-radius: 0px !important;" id="search" class="ui icon button squard invert">
                  <i class="search icon"></i>
                </button>
              </div>
            </div>
            <div class="ui twelve wide column breadcrumb">
                <a data-type="paper" class="selected section CORADSearchSelector"><span class="shadow-font">Paper</span></a>
                <div class="divider"></div>
                <a data-type="project" class="section CORADSearchSelector"><span class="shadow-font">Project</span></a>
              </div>
          </div>
      </div>
  </div>


</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mousewheel.min.js"></script>
<script src="/static/semantic/dist/semantic.js"></script>
<script src="/static/semantic/dist/components/popup.min.js"></script>
<script src="/static/semantic/dist/components/tab.min.js"></script>
<script src="/static/js/search.js"></script>
<script>

</script>

</html>