<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ projectName }} | {{ year }}-{{ teamName }} - Project detail - CO-RAD-SEARCH</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/fontsize.css">
    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/semantic/dist/components/icon.min.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/search_work.css">
</head>

<body>
    <!-- top bar -->
    <div class="ui large top fixed menu" id="top-bar">
        <div class="left item">
            <div class="top-bar-item">
                <img id="top-bar-logo" src="/static/img/logo_gray.png">
            </div>
        </div>
        <div class="right item">
            <!-- <label id="design" class="button">DESIGN</label>
            <label id="account" class="button">ACCOUNT</label> -->
            <div class="top-bar-item">
                <a href="/design">
                    <h3>Design</h3>
                </a>
            </div>
            <div class="top-bar-item">
                <a href="/account">
                    <h3>Welcome, <span class="username">{{ user.username }}</span> !</h3>
                </a>
            </div>
        </div>
    </div>

    <!-- Search bar-->
    <div class="content">
        <div id="search-container">
            <div class="ui two column grid">
                <div class="column">
                    <div class="ui fluid action input search-bar">
                        <input style="border-radius: 0px !important;background-color: rgba(255,255,255,0.8);" type="text"
                            id="search-content" placeholder="Search...">
                        <button style="border-radius: 0px !important;" id="search" class="ui icon button squard invert">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
                <div class="column middle aligned">
                    <div class="ui breadcrumb search-choice-bar shadow-font">
                        <a data-type="project" class="selected section CORADSearchSelector"><span class="shadow-font">Project</span></a>
                        <div class="divider"></div>
                        <a data-type="paper" class="section CORADSearchSelector"><span class="shadow-font">Paper</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="search-page-dimmer"></div>

    {% csrf_token %}
    <div class="content">
        <div class="shadow-box" id="detail-container">
            <div class="back-icon">
                <i class="chevron left icon"></i>
            </div>
            <div class="back">
                Back
            </div>
            <div class="title">
                <a target="igem" href="http://{{ year }}.igem.org/Team:{{ teamName }}">{{ projectName }}<span class="year">{{ year }}-{{ teamName }}</span></a>
            </div>
            <div class="reads">
                {{ readCount }} reading
            </div>
            <div class="description">
                <p>{{ description }}</p>
            </div>
            <div class="images">
                {% for image in images %}
                <img src="{{ image }}">
                {% endfor %}
            </div>
            <div class="parts">Parts:</div>
            <div id="part-container">
                <div class="part-table">
                    <table class="ui fixed striped table">
                        <thead>
                            <tr>
                                <th>BBa</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in part %}
                            <tr>
                                <td>{{ p.BBa }}</td>
                                <td>{{ p.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="design-wiki-box">
                {% if circuitID %}
                <div>
                    <a href="/design/share/{{ circuitID }}">View Circuit Design</a>
                </div>
                {% endif %}
                <div>
                    <a href="http://{{ year }}.igem.org/Team:{{ teamName }}">View Wiki</a>
                </div>
            </div>
        </div>
        <div class="right-panel-container">
            <div class="right-panel shadow-box">
                <div class="header">
                    <img src="/static/img/search/medal.png" alt="">
                    <h4 class="ui header">Rewards</h4>
                </div>
                {% if not rewards %}
                <p>No rewards.</p>
                {% else %}
                <ul class="ui list">
                    {% for reward in rewards %}
                    <li>{{ reward }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="right-panel shadow-box">
                <div class="header">
                    <i class="icon users"></i>
                    <div class="ui header">Related teams</div>
                </div>
                <ul class="ui list">
                    {% for team in relatedTeams %}
                    <li><a href="/work?id={{ team.id }}">{{ team.year }} {{ team.teamName }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="right-panel shadow-box">
                <div class="header">
                    <i class="icon wikipedia w"></i>
                    <div class="ui header">Keywords</div>
                </div>
                <ul class="ui list">
                    {% for keyword in keywords %}
                    <li><a href="/search?type=project&keyword={{ keyword }}">{{ keyword }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="ui page dimmer">
        <div class="content">
            <div class="center">test</div>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.mousewheel.min.js"></script>
    <script src="/static/semantic/dist/semantic.js"></script>
    <script src="/static/js/jsplumb.js"></script>
    <script src="/static/js/search.js"></script>

</html>